:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --background-color: #0575e9;
  --timesup-background-color: #ff1414;
  --text-color: #fff;
  --font-size: 20px;
  --countdown-font-size: 30vw;
  --timesup-font-size: 15vw;
  --background-gradient: linear-gradient(45deg, #0575e9, #1782ee);
  --spacing: 10px;
}